<%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <a href="/host/add-home">Add Home</a>
      <h2 class="text-2xl">Here are our registered homes: </h2>
      <ul>
        <% registeredHomes.forEach(home => { %>
          <li><%= home.houseName %></li>
        <% }) %>
      </ul>                          
    </main>
    </body>
  </html>